/** colors

CAD788 - theme green
FBC0AA - theme pink
FAAE92 - darker pink

**/

@font-face {
    font-family: Silom;
    src: url(../fonts/Silom.ttf);
}
@font-face {
    font-family: OratorStd;
    src: url(../fonts/OratorStd.otf);
}
@import url(https://fonts.googleapis.com/css?family=Dosis);

/*font fix*/
/*body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}*/

/*featured*/

.feat-title{
    text-align: left;
    font-size:20pt;
    width:500px;
    font-family:'Silom';

}


/*DOM elements*/
p, li{
  text-align:center;
  font-size:40px;
  font-family:'OratorStd';
}
li{
    display:inline-block;
    margin:20px;
}
body:hover{
  cursor:default;
}
a, a:hover{
  color:black;
  text-decoration:none;
}
hr{
    border-top:10px solid #CAD788;
}
table{
    font-family:'Dosis';
}
th{
    font-family:'Silom';
}

/*home*/

#menu{
    margin:20px;
    margin-bottom:0px;
}

/*menu*/

.menu{
    font-size:20pt;
}
.menu:hover{
  color:#e19c83;
}

img.menu-ico{
    height:20px;
    vertical-align: text-bottom;
    display:none;
}

.sub-port, .sub-blog{
  letter-spacing:-5px;
}

#title{
  font-size:45px;
  font-family:'Silom';
}

#subtitle{
  font-size:35px;
  font-family:'OratorStd';
}


/*social icons*/
.social:hover, .social:visited, .social:focus, .social:active{
  color:#FAAE92;
}
i.social.fa{
    font-size:20pt;
    margin:5pt;
    margin-top:0;
}


/*about*/
#about-scroll:hover{
  text-decoration:none;
}
.about-text{
  font-family:'Georgia','serif';
  font-size:12pt;
}
.about-sub{
  font-family:'Georgia','serif';
  font-size:8pt;
}
#pokemon-pic, #universe-pic, #gravity-pic, #steam-pic{
  display:inline-block;
  vertical-align: bottom;
  height:20px;
}

/*portfolio*/
/*
li{
  margin-left:-10px;
  list-style-type: none;
}
*/

li.no-tab{
  margin-left:-40px;
}

.project-view, .github-view{
    text-align:center;
    border-radius:2px;
    margin-bottom:20px;
    padding:3px;
    font-family:'Dosis';
    font-size:10pt;
    width:49%;
    display:inline-block;
}

.project-view{    
    background-color:#FBC0AA;    
}

.github-view{
    background-color:#CAD788;
}

.code-port-header{
  font-size:13pt;
  margin-top:10px;
  font-weight:bold;
}

.code-port-sub{
  font-size:10pt;
  margin-top:10px;
  font-weight:bold;
  text-decoration:underline;
}

#code-port-1{
  background-image:url('../assets/vote.png');
}

#code-port-2{
  background-image:url('../assets/campaign-sm.png');
}

#code-port-3{
  background-image:url('../assets/prototype-sm.jpg');
}

#code-port-1, #code-port-2, #code-port-3{
  height:200px;
  width:200px;
  border:3px solid #CAD788;
  border-radius:3px;
}

.body-link{
  color:#e19c83;
  text-decoration:underline;
}

@media (max-width:980px){
  #code-port-1, #code-port-2, #code-port-3{
    margin:0 0 20px 15vw;
  }
}

#more, #more-writing{
  font-family:'OratorStd';
  font-size:20px;
  margin-top:10px;
}

/*.view-project{
  color:black;
  background-color:#FBC0AA;
  border:3px solid #faae92;
  width:100%;
  font-family:'Georgia';
  font-size:20pt;
  border-radius:5px;
  margin-bottom:10px;

}*/




/*standards*/
.container{
/*  margin-top:10vw;*/
    margin-top:2vw;
}
/*
.coding:hover{
  color:#CAD788;
}
.writing:hover{
  color:#FBC0AA;
}
*/

/*template*/
.max-width{
  max-width:900px;
}
#home-icon{
  font-size:30px;
  float:left;
  text-align:left;
}
#home-icon:hover{
  color:#CAD788;
}
.temp-icon{
  font-size:20px;
  margin:5px;
}
.temp-icon:hover{
  color:#FAAE92;
}
.temp-content{
  /*margin-top:5px;*/
  font-family:'Dosis';
  font-size:12pt;
  text-align:left;
}
.temp-header{
  font-family:'Silom';
}
#temp-img, #temp-img2{
  height:200px;
}
#temp-img2{
  margin-top:20px;
}
.r-arrow, .l-arrow{
  /*width: 40px;
  height: 60px;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right:0;
  margin: auto;
  height:29px;
  width:70px;
  background:#CAD788;
  color:white;
  border-radius: 70px 70px 0 0;
  -moz-border-radius: 70px 70px 0 0;
  -webkit-border-radius: 70px 70px 0 0;
}
.l-arrow{
  margin-left:-20px;
  right:auto;
  left:0;
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.r-arrow{
  margin-right:-20px;
  transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
i.fa.fa-arrow-right, i.fa.fa-arrow-left{
  font-size:19px;
  padding:5px;
}
i.fa.fa-arrow-right{
  transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
i.fa.fa-arrow-left{
  transform: rotate(270deg);
    -webkit-border-radius: 45px 45px 0 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

@media (max-width:760px){
  i.fa.fa-arrow-right, i.fa.fa-arrow-left{
    font-size:19px;
  }

}

#copyright{
    font-size:8pt;
    float:right;
}

/*data tables*/
div#port-table_filter, div#port-table_length, div#port-table_info, div#port-table_paginate{
    display:none;
}
.table-img{
    width:30pt;
}